.container__item-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  /* light text */

  color: #e4e5ea;

  margin: 0 0 6px 0;
}

@media screen and (max-width: 700px) {
  .container__item-title {
    text-align: left;
  }
}
